# Instagram Scraping Pipeline Requirements

# Airflow
apache-airflow==2.10.3

# Database
psycopg2-binary==2.9.10

# Big Data Processing
pyspark==3.5.7
pandas==2.3.3

# Web Scraping
selenium==4.36.0
webdriver-manager==4.0.2

# Machine Learning
gender-guesser==0.4.0
scikit-learn==1.6.0

# Utilities
python-dotenv==1.0.1
